<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	
	   <!-- Activate annotation configured components -->
   <context:annotation-config/>
   <context:property-placeholder location="classpath:biz.properties" />
	<context:component-scan base-package="com.biz" />
	<import resource="classpath:mongoDBConfig.xml"/> 
	<bean id="test" class="com.biz.delegate.TestDelegate" />
	
	<bean id="resourceReader" class="com.biz.util.ResourceReader" />
	<!-- Message Bundle settings  -->
	<bean id="messageSource"
        class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>com/bundle/messages</value>
                
            </list>
        </property>
    </bean>
    
    
    
     
</beans>